@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 font-body px-5 text-white;
  }
}

@layer components {
  .page-container {
    max-width: 1280px;
    @apply mx-auto;
  }
  .movie-list .swiper-slide {
    width: 200px;
    height: auto;
  }
  .banner .swiper {
    height: 100%;
  }
  @media (min-width: 768px) {
    .movie-list .swiper-slide {
      width: 300px;
      height: auto;
    }
  }
}

//panigation

.panigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
  border-radius: 0.25rem;

  .selected {
    @apply text-primary;
  }
}

.movie__list-swiper {
  .swiper-button-next,
  .swiper-button-prev {
    font-weight: bold;
    color: #fff;
  }
}
